@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="Features">
        <div class="container">
            <div class="LearnMore">
                <h6>Features</h6>
                <h1>Our Accounting is trusted by thousand of companies</h1>
                <button>Learn More<i class="fa-solid fa-arrow-turn-up"></i></button>
            </div>
            <div class="boxes">
                <div class="contentbox">
                    <img src="/images/Icon-1.svg" alt="">
                    <h4>Business Advice</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="contentbox">
                    <img src="/images/Icon.svg" alt="">
                    <h4>Business Advice</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="contentbox">
                    <img src="/images/Icon-2.svg" alt="">
                    <h4>Business Advice</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="contentbox">
                    <img src="/images/Icon-3.svg" alt="">
                    <h4>Business Advice</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>

            </div>
        </div>
    </section>