@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<header>
            <div class="container">
                <div class="logotype"><img src="./images/logotype.svg"></div>
                <div class="navmenu">                    
                    <div class="upper">
                        <div class="info">
                            <div class="info-box"><i class="fa-regular fa-phone"></i>+46 12345678</div>
                            <div class="info-box"><i class="fa-regular fa-envelope"></i>info@crito.com</div>
                            <div class="info-box last"><i class="fa-regular fa-location-dot"></i>Sveavägen 31, 111 34</div>
                        </div>
                        <div class="nav-links">
                            <a class="linkf" target="_blank" href="#"><i class="fa-brands fa-facebook" style="color: #000;"></i></a>
                            <a class="linkf" target="_blank" href="#"><i class="fa-brands fa-twitter" style="color: #000;"></i></a> 
                            <a class="linkf" target="_blank" href="#"><i class="fa-brands fa-instagram" style="color: #000;"></i></a> 
                            <a class="linkf" target="_blank" href="#"><i class="fa-brands fa-linkedin" style="color: #000;"></i></a>   
                        </div>
                    </div>

                    <div class="lower">
                        <div>   
                            <a class="active" href="/Layout.html">Home</a>
                            <a href="/Service.html">Service</a>
                            <a href="/News.html">News</a>
                            <a href="/Contact.html">Contact</a>
                        </div>
                        <button>Login<i class="fa-solid fa-arrow-turn-up"></i></button>
                    </div> 
                </div>
            </div>
    </header>