@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="ourservices">

        <div class="container">
            
                <div class="service">
                    <p>Our Services</p>
                    <h2>We Provide The Best Service For Consulting</h2>
                </div>
                <div class="cards">
                    <div class="content">
                            <h3></h3>
                            <h6>Business Advice</h6>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button><i class="fa-solid fa-arrow-right" ></i></button>
                    </div>
                    <div class="content">
                            <h3></h3>
                            <h6>Business Advice</h6>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button><i class="fa-solid fa-arrow-right" ></i></button>
                    </div>
                    <div class="content">
                            <h3></h3>
                            <h6>Business Advice</h6>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button><i class="fa-solid fa-arrow-right" ></i></button>
                    </div>
                    <div class="content">
                            <h3></h3>
                            <h6>Business Advice</h6>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button><i class="fa-solid fa-arrow-right" ></i></button>
                    </div>
                </div>
                <div class="btnservice">
                    <button class="btn">Learn More<i class="fa-solid fa-arrow-turn-up"></i></button>
                </div>    
   
        </div> 
    </section>