@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="referrals">
        <div class="container">
            <img src="/images/paperz.svg" alt="info">
            <img src="/images/dorfus.svg" alt="info">
            <img src="/images/martino.svg" alt="info">
            <img src="/images/square.svg" alt="info">
            <img src="/images/gobona.svg" alt="info">
        </div>
        
    </section>