@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="showcase">
        <div class="container">
            <div class="content">
            <h1>We Provide The Best Business Solutions</h1>
            <p>Establish your vision and value proposition and turn them into testable prototypes</p>
            <button href="#" >Get Consulting<i class="fa-solid fa-arrow-turn-up"></i></button>
            <button class="btn2" href="#" >Learn More<i class="fa-solid fa-arrow-turn-up"></i></button>
        </div>
        <img src="/images/showcase-image.svg" alt="showcase image">
        </div>
    </section>