@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="signup">
        <div class="container">
            <div class="News">Get News Updates By Signup</div>
            <div>
                <label for="email"></label>
                <input type="text" id="email" name="email" placeholder="user@domain.com">
                <button>Subscribe<i class="fa-solid fa-arrow-turn-up"></i></button>
            </div>
        </div>

    </section>